<header>
    <div class="header-container">
        <img src="https://rickandmortyapi.com/icons/icon-512x512.png" alt="Rick and Morty Logo" class="logo">
        <nav>
            <ul class="nav-links">
                <li><a href="#">Docs</a></li>
                <li><a href="#">About</a></li>
                <li class="support-style"><a href="#">SUPPORT US</a></li>
            </ul>
        </nav>
    </div>
</header>

<main>
    <section class="hero">
        <div class="hero-content">
            <h1>The Rick and Morty API</h1>
            <img src="../../src/app/img/banner.png">
        </div>
    </section>

    <app-char-list (dataEvent)="receiveData($event)"></app-char-list>
    <section class="features">
        <div class="feature">
            <h2>Characters</h2>
            <p>{{char}}</p>
        </div>
        <div class="feature">
            <h2>Episode</h2>
            <p>{{episode}}</p>
        </div>
        <div class="feature">
            <h2>Location</h2>
            <p>{{location}}</p>
        </div>
    </section>
</main>

<footer>
    <p>Rick and Morty API Mehmet Erkek © 2024</p>
</footer>