.filter-area{
    display: flex; 
    justify-content: center;
    gap:50px;
    background-color: rgb(39, 43, 51);
    margin-top: 30px;
    padding-top: 30px;
    align-items: center;
}

.character-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    gap: 50px;
    padding: 100px;
    background: rgb(39, 43, 51);
  }

  ::ng-deep .p-card {
    background-color: #3C3E44; /* 60 62 68 renk kodunun hexadecimal karşılığı */
    color: white; /* Text rengini de beyaz yapalım ki okunaklı olsun */
  }

  ::ng-deep .p-paginator {
    background-color: #3C3E44; /* 60 62 68 renk kodunun hexadecimal karşılığı */
    color: white; /* Text rengini de beyaz yapalım ki okunaklı olsun */
  }

  .character-card {
    height: 220px;
    border-radius: 0.5rem;
    display: flex;
    margin: 0.75rem;
    align-items: center;
  }
  
  .character-card img {
    border-radius: 8px;
  }
  
  .character-details {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 0.75rem;

  }
  
  .status {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .status.alive {
    background-color: green;
    color: white;
  }
  
  .status.dead {
    background-color: red;
    color: white;
  }
  
  .status.unknown {
    background-color: gray;
    color: white;
  }
  